# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcconfig
*.xcconfig-release
*.xcconfig-debug

# Swift Package Manager
.build/
.swiftpm/
Info.plist
Package.resolved

# macOS
.DS_Store

# Misc
*.swp
*.lock
*.json
